/**
*  Variables
*/
$body-bg-color: #FFFDFF;
$body-font-size: 16px;
$body-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$app-prim-color: #4B515D;//#FF8800;
$app-sec-color: #ea80fc;
$container: 100vw;
$head-pad: 10px;
$head-font-weight: 400;
$nav-bg-color: #3F729B; //#2BBBAD; ;
$link-hover-color: #fff;
$section-content-font: 16px 'Segoe UI';
$section-content-light: #efefef; //#fce4ec;
$section-content-dark: #0099CC; //#ff4444;

$btn-content-light: #efefef; //#fce4ec;
$btn-content-dark: #0099CC; //#2BBBAD;